.interractiveMapContainer{
    padding-top: 80px;
    height: 20px;
    display: block;
    width:900px;
    text-align: center;
    margin: 20px;
    color: #6B5B95;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}