.interractiveMapContainer{
    padding-top: 0px;
    width:600px;
    text-align: center;
    margin: 0px;
    border: 1px black;   

}
.map-heading{
    margin-left: 180px;
    color: #34495E;
    margin-top: 190px;
    margin-bottom: 20px;
}