form {
    text-align: center;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"], button {
    display: inline-block;
    vertical-align: middle;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 25px 35px 35px 25px;
    font-size: 17px;
    width: 530px;
    margin-left: 100px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  .search-btn {
    position: absolute; 
    right: 0px; 
    top: 50%;
    transform: translateY(-50%); 
    background-color: #34495E;
    border: none;
    color: white; 
    padding: 17px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  
  .results-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .result-item {
    padding: 10px;
    margin-top: 20px;
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 120px;
    color:#FFFFF0;
  }
  
  .result-item h2 {
    margin: 0 0 5px 0;
    font-size: 27px;
  }
  
  .result-item p {
    margin: 0 0 10px 0;
    font-size: 14px;
    margin-left: 0 ;
    max-width: 400px;
    text-align: center;
    text-align: left;
  }
  
  .result-image {
    width: 100%;
    height: auto;
    max-width: 400px; 
  }
  