.homepage-container{
    max-width: 1440px;
    height: 450px;
    border: 1px solid black;
    background-color: azure;
    margin: 0;
    padding: 0;
}
.explore-button{
    margin-top: 8px;
    margin-left: 40px;
    border-radius: 16px;
    border: 1px solid black;
    width: 195px;
    height: 66px;
    background-color: #050505;
    color: white;
    font-size: 18px;
}
.explore-button:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
h1{
    width: 299px;
    height: 180px;
    margin-left: 40px;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 0px;
    line-height: 42px;
    font-size: 42px;
}
.homepage-text{
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-left: 40px;
    width:429px;
    height:90px;
}