.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.slides {
    display: flex;
    transition: transform 1s ease; 
}

.slide {
    min-width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.tag {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-100%, -100%);
    color: #34495E;
    font-size: 30px;
    text-align: left;
    z-index: 10;
}

.btn {
    z-index: 10;
    position: absolute;
    top: 48%;
    left: 35%;
    transform: translate(-60%, -50%);
    color: white;
    border: none;
    cursor: pointer;
}

