.gallery_wrapper{
    display: flex;
    align-items: center;
}
.big_slide{
    width: 450px;
    height: 220px;
    background-color: palevioletred;
    position: relative;
    border: 2px solid white;
    border-radius: 4px;
}
.small_slide{
    width: 290px;
    height: 110px;
    background-color: whitesmoke;
    border-radius: 2px;
    padding: 35px;
    
}
.text{
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 15px;
    color: white;
}
.text_details{
    width: 290px;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    text-align: left;
}
.image_one{
    object-fit: cover;
    width: 100%;
    height: 100%;
}