.explore-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.explore-container p{
    width: 400px;
    text-align: left;
    margin-top: 50px;
    height: 150px;
    font-size: 16px;
    line-height: 30px;
}
.explore-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 65px;
}