.explore-background{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../assets/blob-scene-haikei\ \(3\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.explore-heading{
    padding: 2px;
    color: #34495E;
    padding-top: 100px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 20px;
    text-decoration: underline;

}
.explore-container{
 display: block;
 margin-left: 200px;
 
}
.explore-container p{
    width: 550px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 95px;
    font-size: 16px;
    line-height: 26px;
    color: #34495E;
}
.explore-btn{
    padding: 20px;
    font-size: 16px;
    margin-top: 0px;
    display: block;
    border-radius: 45px;
    border: none;
    background-color: #34495E;
    color: white;
    text-align: center;
    max-width: 15%;
}
.explore-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 850px;
    margin-top: 85px;
    gap: 60px;
}
.icon{
    display: block;
    margin: 0 auto;
}
.tips-header{
    text-align: center;
}
.tips{
    width: 280px;
    height: 100px;
    margin-top: 10px;
    text-align: left;
    color:#34495E;
    font-size: 15px;
    
}