.footer {
  background-color: #b2dbbf; 
  color: #34495E; 
  padding: 10px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  font-size: 1em; 
  margin: 0;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #34495E;
  text-decoration: none;
  font-size: 13.5px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover {
  color: #ffffff; 
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
  }
  .footer-content p {
    text-align: left;
  }
}
